#root {
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
}

.nav{
  /* border: 1px solid white; */
  height: 70px;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
}


.nav .title{
 text-transform: uppercase;
}

.nav .btn{
  width: 200px;
  background-color: white;
  color: black;
  font-weight:500;
  font-size: 20px;
  height: 100%;
}


.content{
  margin: 50px 10px;
}