
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




#root {
  font-family: "Poppins", serif;
  /* max-width: 1280px; */
  margin: 0;
  padding: 0;
}

.Container{
  width: 90%;
  margin: 0 auto;
}


.nav{
  /* border: 1px solid white; */
  height: 70px;
  display: flex;
  /* flex-direction: row-reverse; */
  justify-content: space-between;
  align-items: center;
}


.nav .title{
 text-transform: uppercase;
}

.Search{
  /* border: 2px solid #f6f6f6;  */
  border: 1px solid #c5c3c3; 
  border-radius: 20px;
  background-color: #2b2b2b;
  padding-left: 10px;
}

.Search i{
  color: rgb(255, 255, 255);
  margin: 2px;
  transition: 0.3s ease-in-out;
}

.Search input{
  height: 40px;
  background-color: #2b2b2b;
  /* border: 2px solid #f6f6f6;  */
  border: none;
  border-radius: 0px 20px 20px 0px;
  width: 250px;
  padding: 0px 10px;
  outline: none;   
  transition: 0.5s ease-in-out;
}

.Search:focus-within {
  border: 1px solid #ff8c00; 
  box-shadow: 0 0 5px rgba(237, 120, 3, 0.5); 
  color: #ff8c00;
}

.Search:focus-within i {
  color: #ff8c00; /* Change to your desired color */
}

.nav .btn{
  width: 200px;
  background-color: white;
  color: black;
  font-weight:500;
  font-size: 20px;
  height: 100%;
}


.content{
  margin: 50px 10px;
}

.ProfileDetails{
  display: flex;
  /* align-items: center; */
  margin-top: 40px;
  /* justify-content: space-evenly; */
  /* width: 650px; */
}

.Profile{
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  overflow:hidden;
  margin-right:15px;
}



.Profile img{
  scale: 1.2;
  transition: 0.3s ease-in-out;
}

.Profile img:hover{
  scale: 1.1;
}

.detail{
  line-height: 3px;
}

.detail .id{
  color: #313131;
  font-size: 23px;
}


.detail .address p{
  display: inline-block;
  margin-right: 20px;
  color: #4b4b4b;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}


.detail .address p:hover{
  color: #616161;
}



.detail .bio{
 color: #3d3d3d; 
}

.detail .address i{
  margin-right: 15px;
  cursor: pointer;
  font-size: 12px;
  background-color: #262525;
  color: #817f7f;
  text-align: center;
}

.tooltip {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  bottom: 120%; /* Position the tooltip above the text */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1000; /* Ensure it appears above other elements */
}


.detail .address i:hover {
  color: #b5b5b5;
}

.Minor{
  margin: 20px;
}

.Minor .Active{
  
  display: inline-block;
  padding: 2px 7px;
  font-size: 13px;
  text-align: center;
  border-radius: 20px;
  background-color: #262525;
  color: #777676;
}

.Minor .Active i{
  /* font-size: 15px; */
  padding-right: 5px;
}

.line{
  margin-top: 10px;
  border: 1px solid rgb(167, 166, 166);
}

.MajorDetails{
  display: flex;
  align-items: center;
}

.MajorDetails .Mdetail{
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.MajorDetails .Mdetail span{
color: #777676;
}

.follow{
  padding: 2px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin-left: 15px;
  height: 25px;
  border: none;
  width: 90px;
  border-radius: 70px;
background-color: #fe815f;
color: white;
cursor: pointer;
}

.MajorDetails .hr{
  border: 1px solid rgb(73, 73, 73);
  height: 45px;
}

.MajorDetails .follow i{
  margin: 0px 9px;
  font-size: 15px;
}  

.Balance{
  position: sticky;
  top: 0;
  margin-top: 10px;
  /* border: 1px solid white; */
  display: flex;
  /* position: relative; */
  justify-content: space-around;
  align-items: center;
  height: 50px;
  z-index: 2;
  background-color: #121212;
}

.Balance .box{
  cursor: pointer;
  position: relative;
  transition: 0.3s ease-in-out;
}


.Balance .box:hover .underline{
  border: 1px solid white;
  width: 100%;
}

.Balance .underline{
  position: absolute;;
  border: 0 solid white;
  transition: 0.3s ease-in-out;
  width: 0;
}


.Chain{
  display: flex;
  align-items: center;
  margin:0px 10px;
}

.loadChain{
  display: flex;
  align-items: center;
  margin:0px 10px;
}

.Chain .bal{
  margin:10px;
}
.loadChain .bal{
  margin:14px;
}

.Chain .bal p{
  line-height: 4px;
  font-size: 14px;
}

.loadChain .bal p{
  line-height: 4px;
  font-size: 14px;
}


.Chain .bal .name{
  font-size: 13px;
  color: #8c8b8b;
}

.loadChain .bal .name{
  width: 30px;
  background-color: #6a6a6a;
  height: 10px;
  font-size: 13px;
  color: #8c8b8b;
}

.Chain .bal .amt{
  font-weight: bold;
  color: #cccbcb;
}

.loadChain .bal .amt{
  width: 50px;
  background-color: #6a6a6a;
  height: 15px;
  font-weight: bold;
  color: #cccbcb;
  margin-right: 10px;
}

.Chain .bal .amt span{
  font-size: 10px;
  margin: 3px;
  color: #7a7979;
}

.loadChain .bal span{
  border: 1px solid white;
  width: 3px;
  height: 1px;
  background-color: #6a6a6a;;
  font-size: 10px;
  margin: 3px;
  color: #7a7979;
}

.Chain img{
  width: 35px;
  height: 35px;
  border-radius: 50%
}
.loadChain .img{
  background-color: #6a6a6a;
  width: 35px;
  height: 35px;
  border-radius: 50%
}

.ChainDetails{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}


.tokenContainer{
  /* border: 1px solid white; */
  padding: 0.3rem;
}

.tokenContainer .TokenDetails{
  /* border: 1px solid whitesmoke; */
  background-color: #242424;
  border-radius: 6px;
  padding: 1px 0px;
}

.tokenContainer .wallet{
  margin: 0.2rem 0rem;
  font-size: 1.2rem;
}
.tokenContainer .wallet i{
 margin-right: 0.5rem;
 color: pink;
}

.tokenContainer .TokenDetails .table{
    /* border: 1px solid whitesmoke; */
  display: flex;
  justify-content:space-between;
  margin: 1rem;
  padding: 0rem 0.9rem;
  background-color:#2d2d2d;
  border-radius: 6px;
  color: #d0cdcd;

}
.tokenContainer .TokenDetails .token{
 margin-top: 0px;
 margin-bottom: 0px;
  background-color:#242424;
  color: #c8c5c5;

}

.tokenContainer .TokenDetails .token .name{
  display: flex;
  align-items: self-end;

}
.tokenContainer .TokenDetails .token .name .img{
  position: relative;
  height: 23px;
width: 23px;
margin-right: 6px;
}

.tokenContainer .TokenDetails .token .name .img .innerimg{
  position: absolute;
  top: -10px;
  right: -3px;
  border-radius: 50%;
}
.tokenContainer .TokenDetails .token .name .img .innerimg img{
height: 12px;
width: 12px;
border-radius: 50%;
}

.tokenContainer .TokenDetails .token .name img{
height: 26px;
width: 26px;
border-radius: 50%;
}
.tokenContainer .TokenDetails .token-line{
  /* border: 0.5px solid white; */
  height: 0.5px;
  background-color:#121212;
  margin: 12px auto;
width: 95%;

}

.price , .name {
  margin-left: 1px;
  width: 0;

}

.Token {
  width: 60px;
  margin-left: 4px;
}

.link{
  color: white;
  text-decoration: none
}


.nftsearch{
  /* width: 10px; */
  /* height: 40px; */
  position: sticky;
  padding-bottom: 10px;
  top: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  background-color: #121212;
}

.nftsearch .search{
  border: 1px solid rgb(145, 145, 145);
  width: 92%;
  height: 110%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  border-radius: 20px;
  padding: 2px;
  margin-left: 10px;
}

.nftsearch .search input{
  width: 90%;
  height: 30px;
  background-color: #121212;
  color: white;
  border: none;
  outline: none;
  margin-left: 10px;
}
.nftsearch .search i{
  margin-left: 10px;
}

.nftsearch .box{
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #232323;
  border-radius: 12px;
  cursor: pointer;

}


.nft{
  margin: 20px;
  /* border: 1px solid white; */
  width: 230px;
  max-height: 350px;
  background-color: #1d1d1d;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.nft:hover.nft img{
  scale: 1.1;
}
.nft:hover.nft .img .logo{
  /* transition: 0.3s ease-in-out; */
  display: block;
  z-index: 1;
  /* scale: 1.1; */
}

.nft img{
  max-height: 210px;
  width: 100%;
  object-fit:cover;
  object-position:center;
  transition: 0.3s ease-in-out;
}
.nft .img{
  position: relative;
  height: 210px;
  overflow: hidden;
}

.nft .img .logo{
  /* display:none; */
  border-radius: 50%;
  background-color: #9c9c9c53;
  z-index: -1;
  padding: 5px;
  margin: 10px;
  height: 20px;
  width: 20px;
  position: absolute;
  transition: 0.2s ease-in-out;
}

.nft .text{
  /* width: 70%; */
  display: flex;
  align-items:baseline;
  justify-content: space-between;
  padding: 0px 10px;
  line-height: 17px;
  
  /* justify-content: ; */

}

.nft .text .rare{
  border: 1px solid rgb(53, 53, 52);
  padding: 1px 5px;
  border-radius: 7px;
  font-size: 12px;
  /* background-color: #3c3c3c; */
}

.nft .text .nftname {

  width: 70%; 
  line-height: 17px;
}

.nft .text .nftname p{
  margin: 12px 0px 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nft .text .nftname .collection{
  /* margin: 0; */
  font-size: 15px;
  color: #dcdcdc;
  /* justify-content: ; */

}

.nft .icon {
  padding: 10px;
  width: 100%;
  display: flex;
  color:#c5c5c5
}

.nft .icon:hover{
  background-color: #272727;
}

.nftbox{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid white; */
}

.Context{
  /* border: 1px solid white; */
  position: absolute;
  /* width: 100px; */
  /* text-align: center; */
  border-radius: 10px 10px 10px 0px;
  overflow: hidden;
  background-color: #2a2a2afe;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.Context .child{
  font-size: 13px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  transition: 0.2s ease-in-out;
  /* width: 100px; */

}

.Context .child i{
  margin-right: 10px;
}

.Context .child:hover{
  scale: 1.05;
  background-color: #373737;

}

#popup {
  position: fixed;
  /* display:flex; */
  top: 0;
  left: 0px;
  width: 100%;
  /* margin: 0 auto; */
  height: 100%;
  /* border: 1px solid rgb(48, 46, 42); */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 100;
}

.ListNft {
  position: relative;
  top: -5%;
  width: 50%;
  max-width: 600px;
  padding: 20px;
  background-color: #232222;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.listnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.listnav h3 {
  margin: 0;
  color: white;
}

.close-icon {
  font-size: 20px;
  cursor: pointer;
  color: white;
}


.ListNft .content{
  display: flex;
  align-items: center;
  /* justify-content: sp; */
  height: 20px;
  margin: 35px 20px;
}
.ListNft .content .listing{
  width: 40%;
  line-height: 10px;
  text-align: end;
}

.ListNft .content .listing p{
 font-size: 10px;
 color: #a8a7a7;
}
.ListNft .content .listing .eth{
 font-size: 13px;
 font-weight: bold;
}
.ListNft .content img{
  width: 60px;
  border-radius: 10px;
}

.listprice{
  display: flex;
  flex-direction: column;
}

.listprice .p{
  margin: 10px 0px;
  font-size: 14px;
}

.listprice .trait{
  margin: 10px;
  /* background-color:; */
  border: none;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  /* margin: 0 auto; */
  background-color: #3a3a3ab8;
  color: white;
  cursor: pointer;
}

.listprice .button{
  display: flex;
  justify-content: space-around;
}

.content .listname p{
  margin: 0;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  text-align: left;
  /* color: #000000; */
}
.content .listname {
  margin-left: 10px;
  width: 60%;
}

.listprice .trait span{
  font-weight: bold;
 
}

.listprice .input{
  height: 35px;
  border-radius: 10px;
  border: 1px solid rgb(147, 146, 146);
  display: flex;
  align-items: center;
  overflow: hidden;

}

.listprice .input .inputeth{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 10px;
}

.listprice .input input{
  color: white;
  padding: 10px;
  background-color: inherit;
  border: 0px 1px;
  outline: none;
width: 70%;
}

.listprice .fee{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  height: 35px;
}

.listprice .earning{
  display: flex;
  justify-content: space-between;
  height: 35px;
  font-size: 15px;
}

.ListNft .complete{
  width: 100%;
  margin-top: 20px;
  /* padding: 0px; */
  /* border: 1px solid white; */
}

.ListNft .complete .listt{
  width: 100%;
  height: 35px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  
}
#popup form{
  width: 100%;
}

#popup .MenuTransfer{
  background-color: #232222;
  /* width: 50%; */
  padding: 0px 20px 20px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#popup .MenuTransfer img{
width: 150px;
border-radius: 10px;
}

#popup .MenuTransfer p{
  font-size: 13px;
  /* margin: 0; */
  margin: 20px 0px 5px 0px;
  text-align:left;
  width: 100%;
}

#popup .MenuTransfer .transnav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#popup .MenuTransfer .input input{
  width: 330px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  background-color: inherit;
  border: 1px solid rgb(95, 95, 95);
 padding: 3px 10px;
 color: white;
}

#popup .MenuTransfer .listt{
  width: 100%;
  border: none;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 10px;
}


.innerBox{
  position: relative;
  display: flex;
  /* justify-content: space-evenly; */
}

.Collections{
  position: sticky;
  top: 100px; /* Distance from the top of the viewport */
  /* border: 1px solid white; */
  margin-top: 20px;
  padding: 20px;
  height: 79vh; /* Adjust height to fit your layout */
  display: flex;
  flex-direction: column;
}

.Collections .realCollections {
  width: 102%;
  padding-right: 20px;
  flex-grow: 1; 
  overflow-y:auto;
  margin-top: 10px; 
  scroll-behavior: smooth;
}

.realCollections::-webkit-scrollbar {
  width: 10px; /* Adjust scrollbar width */
}

.realCollections::-webkit-scrollbar-track {
  background: linear-gradient(180deg, #5c5c5c, #383838); /* Subtle gradient */
  border-radius: 10px; /* Rounded edges */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Inner shadow */
}

.realCollections::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #5b5a5a, #5d5d5d); /* Vibrant gradient */
  border-radius: 10px; /* Rounded edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Drop shadow for thumb */
  border: 2px solid #f1f1f1; /* Optional border for contrast */
}

.realCollections::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4d2793, #646464); /* Change gradient on hover */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
}

.Collections .innercollection{
  display: flex;
  align-items: center;
}

.Collections .innercollection i{
  margin-left: 150px;

}


.Collections .search{
  border: 1px solid rgb(145, 145, 145);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  padding: 2px;
  margin-top: 20px;
}

.Collections .search input{
  width: 90%;
  height: 30px;
  padding-left: 10px;
  background-color: #121212;
  color: white;
  border: none;
  outline: none;
}

.Collections .search i{
  margin-left: 5px;
}

.realCollections .innerreal{
  display: flex;
  font-size: 11px;
  color: #adadad;
  margin: 10px 0px;
  justify-content: space-between;
  font-weight: bold;
}



.Collections .minicollect{
  /* border: 1px solid white; */
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0px;
}
.Collections .minicollect .mini1{
  display: flex;
  align-items:center;
  /* overflow: hidden; */
}

.Collections .minicollect .mini1 .img{
  display: flex;
  overflow:hidden;
  border-radius: 10px;
  margin-right: 9px;

}

.Collections .minicollect .mini1 .names {
  width: 60%;
}

.Collections .minicollect .mini1 .names p{
  overflow: hidden;
  text-overflow: ellipsis;
}

.Collections .minicollect .mini1 .names p:nth-child(2)
{
  margin-top: 0;
font-size: 11px;
color: #797979;
}
.Collections .minicollect .mini1 .names p:nth-child(1)
{
  margin: 10px 0px 1px 0px;
}


.Collections .minicollect .mini1 img{
  width: 50px;

  /* overflow: hidden; */
}

.Collections .minicollect .ethprice{
  text-align: end;
}

.Collections .minicollect .ethprice p{
  text-align: end;
  margin: 0;
}
.Collections .minicollect .ethprice p:nth-child(2){
  font-size: 11px;
}
.Collections .minicollect .ethprice p:nth-child(2) span{
  /* font-size: 11px; */
  color: #828282;
}


.NotFound{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(64, 64, 64);
  width: 100%;
  height: 50vh;
  border-radius: 10px;
  margin-top: 20px;
}

.NotFound .inner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.NotFound .inner button{
  width: 160px;
  padding: 13px 10px;
  border-radius: 9px;
  border: none;
  background-color: rgb(52, 160, 255);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.nft .imgblur{
  background-color: #626262;
}

.nft .text .nameblur{
  width: 80%;
  height: 20px;
  border-radius: 5px;
  background-color: #626262;
}
.nft .text .collecblur{
  width: 55%;
  height: 20px;
  border-radius: 5px;
  background-color: #626262;
}

.LoadingNft{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}